.menuControls {
  display: -webkit-box;
  margin-left: auto;
}

.menuLogin {
  display: flex;
  position: relative;
  align-items: flex-end;
  cursor: pointer;
  border-left: 1px solid rgba(227, 235, 238, 0.5);
  border-right: 1px solid rgba(227, 235, 238, 0.5);
  padding: 0 21px 32px 30px;
  max-width: 100px;
}

.menuLogin:hover {
  border-bottom: 3px solid #4296cb;
  padding-bottom: 29px;
}

.menuLogin:hover .menuControlsDropdown {
  display: block;
  position: absolute;
  right: 143px;
  top: 110px;
}

.menuLoginId {
  display: flex;
  flex-wrap: wrap;
  width: 90px;
}

.menuLoginName {
  white-space: nowrap;
  color: #4296cb;
  font-size: 13px;
}

.menuLoginLabel {
  text-transform: uppercase;
  white-space: nowrap;
  color: #212432;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.avatar {
  position: relative;
  display: flex;
  align-self: flex-end;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 32px;
  width: 39px;
}

.avatar:hover {
  border-bottom: 3px solid #4296cb;
  padding-bottom: 29px;
}

.avatar:hover .menuControlsDropdown {
  display: block;
  position: absolute;
  right: 40px;
  top: 110px;
}

.userTieIcon {
  display: flex;
  position: absolute;
  align-self: flex-end;
  right: 16px;
  font-size: 20px;
}

.navLoginArrowIcon {
  display: inline-block;
  color: #4296cb;
  width: 5px;
  margin-left: 4px;
  font-size: 12px;
}

.navAvatarArrowIcon {
  display: flex;
  position: absolute;
  align-self: flex-end;
  color: #4296cb;
  right: 3px;
  font-size: 12px;
}

.menuControlsDropdown {
  display: none;
}

.menuUtil {
  display: flex;
}

.menuCart {
  display: flex;
  position: relative;
  align-items: flex-end;
  cursor: pointer;
  padding-bottom: 32px;
  height: 78px;
}

.menuCart:hover::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: #4296cb;
}

.menuCartIcon {
  display: flex;
  font-size: 20px;
  color: #212432;
}
